.Cabeçalho__container {
  position: relative;
}

.Cabeçalho__box {
  position: absolute;
  top: -530px;
  margin: 0px 0px 0px 1%;
  text-align: center;
}

.Cabeçalho__box th {
  padding: 0px 13px 0px 20px;
}

.Cabeçalho__box td {
  padding: 0px 15px 0px 50px;
}

.Cabeçalho__box button[type='button'] {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  border: 1px solid black;
  background-color: var(--accent-color);
  border-radius: 9px;
  cursor: pointer;
  color: var(--white-color);
  outline: none;
  font-size: 18px;
}
