:root {
  --main-color: #0f0e17;
  --second-color: #f25f4c;
  --accent-color: #ff8906;
  --input-color: #a7a9be;
  --white-color: #fffffe;
  --border: 10px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
}

h1, h2, h3 {
  margin-bottom: 24px;
}
